<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="footer">
    <footer class="footer">
        <p class="footer-main">
            FP.065 - (P) Aplicación back-end con Java en servidores de aplicaciones
        </p>
        <p>
            Convocatoria 2025-2 • Grupo <span class="footer-highlight">Code Blooms</span>
        </p>
        <p>
            Consultor: <span class="footer-consultant">Josep Vañó Chic</span>
        </p>
    </footer>
</div>

</body>
</html>